.animated-placeholder {
  width: 100%;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  background-color: #121212;
  color: #ffffff;
  border: 1px solid #121212; /*#333*/
  border-radius: 6px;
  outline: none;
  box-shadow: none;
  flex: 1;
  height: 100%;
}

.animated-placeholder::placeholder {
  font-size: 1rem;
  transition: all 0.5s ease;
  border: none;
}

.fade-in::placeholder {
  opacity: 1;
  transform: translateY(0);
  border: none;
}

.fade-out::placeholder {
  opacity: 0;
  transform: translateY(-15px);
  border: none;
}
