.animated-placeholder {
    height: 45px;
    padding: 0 1rem;
    font-size: 1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    outline: none;
    background: none;
    border: 1px solid #a25353;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 300px;
    color: #fff;
}

.animated-placeholder::placeholder {
    font-size: 1rem;
    transition: all 0.5s ease;
    border: none;
}

.fade-in::placeholder {
    opacity: 1;
    transform: translateY(0);
    border: none;
}

.fade-out::placeholder {
    opacity: 0;
    transform: translateY(-15px);
    border: none;
}